* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
  color: #fff;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}

/* Tweakpane custom styling to match premium feel */
.tp-dfwv {
  width: 320px !important;
  font-family: 'Inter', sans-serif !important;
}
